<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <canvas id="draw" width="1536" height="722"></canvas>
  </head>
  <body>
    <br>
    <div id="stats"></div>
    <script src="/javascripts/storm.js"></script>
    <br>
  </body>
</html>
